@font-face {
    font-family: "Montserrat";
    src: url(../../fonts/Montserrat/Montserrat-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat/Montserrat-Bold.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat/Montserrat-Medium.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat/Montserrat-Black.woff);
    font-weight: 900;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../../fonts/Montserrat/Montserrat-Regular.woff);
    font-weight: 400;
}