.footer {
    padding: 30px 160px;
    border-top: 2px solid $gray-separator-color;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $gray-bg-color;

    @media screen and (max-width: 1440px) {
        padding: 30px 60px;
    }

    @media screen and (max-width: 690px) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: 600px) {
        padding: 30px;
    }


    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-wrap: nowrap;

        @media screen and (max-width: 690px) {
            align-items: center;
        }

        &-adress {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @media screen and (max-width: 690px) {
                flex-direction: column;
            }

            li {
                margin-left: 10px;
                padding-left: 16px;

                @media screen and (max-width: 690px) {
                    margin: 10px 0 0;
                    padding: 0;
                }

                &::before {
                    background-color: $gray-separator-color;
                    @media screen and (max-width: 690px) {
                        content: none;
                    }
                }

                &:first-child {
                    padding: 0;
                    margin: 0;
                    color: $main-color;
                    font-size: 16px;
    
                    &::before {
                        content: none;
                    }
                }

                &:nth-child(2) {
                    a {
                        text-transform: uppercase;
                        font-size: 12px;
                        letter-spacing: 1px;
                        font-weight: 700;
                    }
                }


            }

        }

        &-nav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 21px;

            @media screen and (max-width: 690px) {
                flex-direction: column;
            }

            li:first-child {
                padding: 0;
                margin: 0;

                &::before {
                    content: none;
                }
            }

            li{
                padding-left: 16px;
                margin-left: 10px;

                &::before{
                    background-color: $gray-separator-color;
                    
                    @media screen and (max-width: 690px) {
                        content: none;
                    }
                }

                @media screen and (max-width: 690px) {
                    margin: 10px 0 0;
                    padding: 0;
                }
            }

            &-fb{
                a svg{
                    fill: $active-regular-color;
                    transition: .2s;
                    width: 32px;
                    height: 32px;
    
                    &:hover {
                        fill: $accent-color;
                        transition: .2s;
                    }
                }
            }

            &-tel a{
                color: $alt-color;
                font-weight: 700;
            }

            &-email a {
                font-weight: 700;
            }
        }
    }

    &__legacy {
        font-size: 16px;
        color: $gray-text-color;
        position: relative;

        @media screen and (max-width: 800px) {
            position: absolute;
            right: 60px;
        }

        @media screen and (max-width: 690px) {
            position: static;
            margin-top: 30px;
        }
    
    }
}