.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 160px 0;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 11;

    @media screen and (max-width:1440px) {
        padding: 50px 60px 0;
    }

    @media screen and (max-width:768px) {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 75px;
    }

    @media screen and (max-width:600px) {
        flex-direction: row;
        align-items: center;
        padding: 60px 15px 0;
    }

    &__logo {
        @media screen and (max-width:768px) {
            margin: 30px 0;
        }

        @media screen and (max-width:600px) {
            margin:0;
        }

        @media screen and (max-width:375px) {
            width: 70px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        @media screen and (max-width:768px) {
            margin-bottom: 0;
            position: absolute;
            left: 60px;
            top: 50px;
        }

        @media screen and (max-width:600px) {
            top: 0;
            left: 0;
            right: 0;
            justify-content: space-between;
            padding: 10px 15px;
            background: rgba(245, 245, 250, 0.20);
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            li {
                margin-left: 6px;

                a {
                    color: $basic-white-color;
                    
                    @media screen and (max-width:600px) {
                        color: $basic-white-color;
                    }
                }

                &::before {
                    background-color: $gray-separator-color;

                    @media screen and (max-width:600px) {
                        content: none;
                    }
                }
            }
    
            &-logo{
                @media screen and (max-width:600px) {
                    color: $basic-white-color;
                }
            }
        }

        &-tel {
            font-weight: 700;
            color: $gray-text-color;
        }

        &-adress,
        &-logo a svg{
            fill: $basic-white-color;
            transition: .2s;

            &:hover {
                fill: $accent-color;
                transition: .2s;
            }
            @media screen and (max-width:600px) {
                display: none;
            }
        }
    }

    &__nav {
        font-weight: 700;
        a:not(.active-nav-link):hover {
            border-bottom: 2px solid $active-regular-color;
            color: $active-regular-color;

            @media screen and (max-width:600px) {
                border: 0;
            }
        }

        a:not(.active-nav-link) {
            margin-left: 15px;
            color: $basic-white-color;

            @media screen and (max-width:600px) {
                color: $active-regular-color;
            }
        }

        &-adress {
            @media screen and (max-width:768px) {
                color: $gray-text-color;
            }
        }

        @media screen and (max-width:600px) {
            position:fixed;
            bottom: 0;
            left: 8px;
            right: 8px;
            padding: 12px;
            background-color: $basic-white-color;
            border-radius: 12px 12px 0 0;
            flex-direction: column;
            align-items: center;
            display: none;
            z-index: 10;
            
            a {
                font-size: 24px;
                margin-top: 15px;
                padding: 7px 0;
                width: 100%;
                text-align: center;
                border-radius: 12px;
                background-color: $gray-bg-color;

                &:active {
                    background-color: $gray-separator-color;
                }
            }
        }
    }
}

.site_lang {
    display: flex;
    text-transform: uppercase;
    color: $basic-white-color;

    @media screen and (max-width:600px) {
        color: $basic-white-color;
    }

    li {
        padding: 5px 7px;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 12px;
        cursor: pointer;
        transition: .2s;

        &:not(.active-lang):hover {
            background-color: $gray-bg-color;
            border-radius: 8px;
            transition: .2s;
        }

        &::before {
            content: none;
        }
    }
}

.close-btn {
    display: none;

    @media screen and (max-width:600px) {
        display: inline-block;
        cursor: pointer;
        margin-bottom: 5px;
        align-self: flex-end;
    }
}

.humburger-btn {
    display: none;

    @media screen and (max-width:600px) {
        display: inline-block;
    }

    &:active {
        background-color: $gray-separator-color;
        border-radius: 8px;
    }
}