.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 160px 0;

    

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__info {
        display: flex;
        align-items: center;

        &-list {
            display: flex;
            align-items: center;
            justify-content: flex-end;
    
            li {
                margin-left: 6px;

                &::before {
                    background-color: $gray-separator-color;
                }
            }
    
            li a {
                color: $gray-text-color;
            }
    
            &-logo{
                fill: $gray-bg-color;
            }
        }

        &-tel {
            font-weight: 700;
        }
    }

    &__nav {
        font-weight: 700;

        a {
            margin-left: 15px;

            &:not(.active-nav-link):hover {
                border-bottom: 2px solid $active-regular-color;
                color: $active-regular-color;
            }
        }
    }
}
.site_lang {
    display: flex;
    text-transform: uppercase;
    color: $gray-text-color;

    li {
        padding: 5px 7px;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 12px;
        cursor: pointer;
        transition: .2s;

        &:not(.active-lang):hover {
            background-color: $gray-bg-color;
            border-radius: 8px;
            transition: .2s;
        }

        &::before {
            content: none;
        }
    }
}