$main-color: #323264;
$alt-color: #46466E;
$soft-color: #686887;
$basic-color: #000;
$basic-white-color: #fff;

$accent-color: #F0145A;

$active-regular-color: #24A3FF;
$active-hover-color: #0085FF;
$active-active-color: #006CCF;

$gray-text-color: #B3B3BA;
$gray-bg-color: #F5F5FA;
$gray-separator-color: #E6E6F0;

$gradient-red-text: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-supersoft: linear-gradient(229deg, rgba(50,50,100,1) 11.93%, rgba(50,50,100,1) 57.17%, rgba(100,62,114,1) 87.46%);